In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when

In [3]:
spark = SparkSession.builder.appName("TestNotebook").getOrCreate()

In [4]:
df_customers = spark.read.option("header", True).csv("/opt/spark-apps/input/customers.csv")

In [5]:
df_customers.show()

+-----------+----------+----------------+---+-------+
|customer_id|      name|           email|age|country|
+-----------+----------+----------------+---+-------+
|        101|  John Doe|john@example.com| 28|     US|
|        102|Jane Smith|jane@example.com| 34|     UK|
|        103|  Ali Khan| ali@example.com| 40|    UAE|
|        104|Rita Mehra|rita@example.com| 25|  India|
|        105| Wei Zhang| wei@example.com| 31|  China|
+-----------+----------+----------------+---+-------+

In [6]:
df_orders = spark.read.json("/opt/spark-apps/input/orders.json")
df_orders.show()
df_orders.printSchema()

+------+-----------+--------+----------+
|amount|customer_id|order_id|    status|
+------+-----------+--------+----------+
| 250.5|        101|    5001|   shipped|
| 145.0|        102|    5002| cancelled|
|389.99|        104|    5003|processing|
| 89.99|        105|    5004|   shipped|
| 199.0|        106|    5005|  returned|
+------+-----------+--------+----------+

root
 |-- amount: double (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- order_id: long (nullable = true)
 |-- status: string (nullable = true)